<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Snippet Organizer</title>
  </head>
  <body>
    <h1>Create New Snippet</h1>

    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <a href="/create">Create Snippet</a>
    <a href="/showAll">See All Snippets</a>

    <form class="" action="/showOne" method="post">
      <label for="title">Title:</label>
      <input id="title" type="text" name="title" value="" placeholder="title" autofocus>
      <label for="body">Body:</label>
      <input id="body" type="text" name="body" value="" placeholder="body">
      <label for="notes">Notes:</label>
      <input id="notes" type="text" name="notes" value="" placeholder="notes">
      <label for="language">Language:</label>
      <input id="language" type="text" name="language" value="" placeholder="language">
      <label for="tags">Tags:</label>
      <input id="tags" type="text" name="tags" value="" placeholder="tags">
      <input type="submit" name="createSnippet" value="create">
    </form>


  </body>
</html>
